.button {
    padding: 16px 32px;
    color: var(--color-light);
    background-color: var(--color-marionette);
    border: 2px solid;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20;
    font-weight: 600;
    line-height: 1.5;

}

.button:disabled {
    border: 5px solid var(--color-light);
    background-color: lightgray;
    color: gray;
    cursor: not-allowed;
}

.button:hover {
    background-color: transparent;
    color: var(--color-light);
}

.button:focus {
    background-color: var(--color-marionette);
    color: var(--color-light)
}

.button:active {
    background-color: var(--color-marionette);
    color: var(--color-marionette);
}