.topHeader {
    /* background-color: rgb(15, 15, 15); */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
}

.logoTop {
    width: 150px;
    height: 100px;
}

.HeaderFlexContainer {
    display: flex;
    align-items: center;
    gap: 40px;
}

.headerNav {
    flex-grow: 1;
    display: flex;
    flex-grow: 1;
    gap: 40px;

    @media screen and (max-width:$bp-desktop) {
       display: none;
    }
}

.headerLinks {
    display: flex;
    gap: 64px;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}