.NavLink {
    color: var(--color-marionette);
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    line-height: 1.5;
    transition: color 0.3s;
}

.NavLink:hover {
    color: var(--color-light);
    text-decoration: underline;
    font-weight: 600;
}